<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title class="titulo">Prediction Results</title>
</head>
<body>
    <header>
        <h1>Prediction Results</h1>
    </header>
    
    <div class="mar">
    </div>

    <div class="predictions">
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>WinRate</th>
                    <th>GDM</th>
                    <th>Wins</th>
                    <th>Prediction</th>
                    <th>Check</th>
                </tr>
            </thead>

            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.Team }}</td>
                        <td>{{ result.WinRate }}</td>
                        <td>{{ result.GDM }}</td>
                        <td>{{ result.Wins }}</td>
                        <td>{{ result.WinsPred }}</td>
                        <td>{{ result.Check }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
